.bsp/
.idea/
logs/
.lib/
target/
dist/
lib_managed/
src_managed/
project/boot/
project/project
project/target
project/plugins/project/
/SDService/dist/

.scala_dependencies
.worksheet
.cache
.history
