<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>SD_INDEX_PATH</param-name>        
        <param-value>/home/heitor/Projetos/SDService/TitAbs</param-value>
        <!--param-value>/home/users/heitor.barbieri/TitAbs</param-value-->
    </context-param>
    <context-param>
        <param-name>FREQ_INDEX_PATH</param-name>
        <param-value>/home/heitor/Projetos/SDService/decs</param-value>
        <!--param-value>/home/users/heitor.barbieri/decs</param-value-->
    </context-param>
    <context-param>
        <param-name>OTHER_INDEX_PATH</param-name>
        <param-value>/home/heitor/Projetos/SDService</param-value>
        <!--param-value>/home/users/heitor.barbieri</param-value-->
    </context-param>
    <servlet>
        <servlet-name>SDService</servlet-name>
        <servlet-class>org.bireme.sds.SDService</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SDService</servlet-name>
        <url-pattern>/SDService</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
